main>.container {
    padding: 60px 15px 0;
    margin-bottom: 5rem;
}

.homeBG {
    width: 100%;
    background-image: url(/img/GridBG.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.homeI  {
    width: 100%;
    background-image: url(/img/shin1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.herotext {
    font-family: modesto-open-shadow, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(195, 255, 0);
}
.shinf  {
    width: 100%;
    background-image: url(/img/shin1.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}